<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foi.air.potrosko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".transactions.TransactionChartActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".transactions.TransactionActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".transactions.CategoryActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".transactions.AddCategoryActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ChangePinActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysVisible"></activity>
        <activity
            android:name=".ChooseCurrency">
            </activity>
    </application>

</manifest>
